<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <p class="navbar-item"><img src="{{uiRootPath}}/img/Logo-Red_Hat-OpenShift-A-Reverse-RGB.png" height="40px" alt="Red Hat"></p>
      <p class="navbar-item" style="font-size: 24px; color: white">{{site.title}}</p>
      <button class="navbar-burger" data-target="topbar-nav">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>
</header>
